@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

* {
    font-family: "Sora", sans-serif;
}

.shadow-sm {
    box-shadow: none !important;
}



.creu {
  font-family: sans-serif;
  -webkit-text-stroke: 2px rgb(51, 51, 51);
  color: white;
}


